* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;
    }

    body {
      font-family: 'Roboto'; /* font tajam & tipis */
      font-weight: 300; /* angka lebih kecil = lebih tipis */
      background-color: #00161a;
    }

    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #00161a;
      color: rgb(42, 54, 47);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      z-index: 1000;
    }

    nav {
      display: flex;
      gap: 30px;
    }

    nav a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      transition: color 0.3s;
    }

    nav a:hover {
      color: green;
    }

    section {
  min-height: 100vh;
  font-size: 2rem;
  padding: 60px 0;
}

.footer {
  background-color: #00161a;
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer p {
  margin: 0;
  letter-spacing: 1px;
}

.social-icons a {
  color: rgb(216, 216, 216);
  font-size: 20px;
  margin-left: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: green;
}

#prjk{
  position: relative;
    background-color: rgb(185, 177, 162);
    background-size: cover;
}

.prjk-section {
  padding: 100px 10%;
  background-color: #f8f8f8;
}

.prjk-section h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #00161a;
  letter-spacing: 6px;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.692);
}

.prjk-section p {
  text-align: left;
  font-size: 20px;
  margin-bottom: 2rem;
  color: #00161a;
  letter-spacing: 6px;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.692);
}

.prjk-card {
  background-color: white;
  border-radius: 1px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.prjk-grid{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prjkt-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.prjk-card img {
  width: 100%;

  object-fit: cover;
}

.prjk-nav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; /* kiri-kanan */
  align-items: center;
  padding: 40px 0%;
}

.prjk-nav a {
  color: #00161a;
  text-decoration: none;
  font-size: 23px;
  font-weight: 50;
  transition: color 0.3s;
}

.prjk-nav a:hover {
  color: white;
}
